/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#game {
  position: relative;
  overflow: hidden;
  width: 640px;
  height: 480px;
  background: black;
  font-family: "Averia Sans Libre", cursive;
  color: white;
}

#game-menu,
#game-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* **** *
 * Menu *
 * **** */
#game-menu {
  padding: 64px 0 0;
  background: url("../images/menu-bg.jpg") black;
  -webkit-animation: 24s infinite menu-bg;
  animation: 24s infinite menu-bg;
}

@-webkit-keyframes menu-bg {
  0%   { background-position:   0   0; }
  50%  { background-position: -60px 0; }
  100% { background-position:   0   0; }
}

@keyframes menu-bg {
  0%   { background-position:   0   0; }
  50%  { background-position: -60px 0; }
  100% { background-position:   0   0; }
}

#game-menu h1 {
  margin: 16px 0 48px;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 0.25em black;
  -webkit-animation: 4s infinite menu-heading;
  animation: 4s infinite menu-heading;
}

@-webkit-keyframes menu-heading {
  0%   { -webkit-transform: rotate(-5deg); }
  50%  { -webkit-transform: rotate( 5deg); }
  100% { -webkit-transform: rotate(-5deg); }
}

@keyframes menu-heading {
  0%   { transform: rotate(-5deg); }
  50%  { transform: rotate( 5deg); }
  100% { transform: rotate(-5deg); }
}

#game-menu h1 strong {
  display: block;
  font-size: 48px;
  font-weight: inherit;
  line-height: 0.75em;
}

#game-menu ul {
  margin: 0;
  padding: 0;
}

#game-menu li {
  display: block;
}

#game-menu button {
  display: block;
  margin: auto;
  padding: 0.25em 0;
  width: 256px;
  background: #DFAE62;
  border: none;
  box-shadow: 0 4px 0 0 #B8873D;
  font-family: inherit;
  font-size: 24px;
  color: white;
}

#game-menu button:hover,
#game-menu button:focus {
  background: #E7C083;
}

#game-menu button:active {
  box-shadow: none;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

#game-menu li + li {
  margin-top: 16px;
}

/* ************ *
 * Dialog boxes *
 * ************ */
.game-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 32px;
  background: rgba(0, 0, 0, 0.75);
}

.game-dialog-close {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 8px;
  background: #DFAE62;
  border: none;
  box-shadow: 0 4px 0 0 #B8873D;
  color: white;
}

.game-dialog-close:hover,
.game-dialog-close:focus {
  background: #E7C083;
}

.game-dialog-close:active {
  box-shadow: none;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.game-dialog-close img {
  display: block;
}

.game-dialog h2 {
  margin: 0 0 32px;
  font-size: 32px;
}


/* ******** *
 * Gameplay *
 * ******** */
#game-time {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 24px;
}

#game-time span {
  font-family: monospace;
}
