/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 1rem 0;
  font-family: sans-serif;
  background: #333333;
}

header,
main,
footer {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  width: 640px;
}

header {
  padding: 1rem;
  background: #339966;
  color: white;
}

header h1 {
  margin: 0;
  text-align: center;
}

header nav {
  margin: 1rem 0 -1rem;
  text-align: center;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
}

header nav a {
  display: block;
  padding: 0.5em 0.75em;
  width: 5em;
  background: rgba(255, 255, 255, 0.25);
  text-decoration: inherit;
  color: inherit;
}

footer {
  padding: 1rem;
  background: #EFEFEF;
}

footer p {
  margin: 0;
}

main {
  background: white;
}