/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
  font-family: sans-serif;
  background: #333333;
}

header,
main,
footer {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  width: 640px;
}

header {
  padding: 1rem;
  background: #339966;
  color: white;
}

footer {
  padding: 1rem;
  background: white;
}

main {
  background: white;
}